#content {
	text-align: center;
    padding-top: 15%;
    color: #ffffff; 
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1), 
                 0px 18px 23px rgba(0,0,0,0.1);     
}


body {
	background: url(https://images.squarespace-cdn.com/content/v1/57b188f35016e1884443bc2b/1551191892035-5V27Z3O80NB8UMTQA5VY/ke17ZwdGBToddI8pDm48kIIFsYAJJX10OgNkc4SuD20UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKc_1T6efxwXvTmfrAKMkMeBGy6IZ7uTiBEY51HXGW3u_goig3-pFLP5LUgzOGYLCMo/Mockup+A2.png?format=1000w);
    background-size: cover;
    background-position: center; 

} 

hr { 
width: 400px;
border-top: 1px solid #f8f8f8;
border-bottom: 1px solid rgba(0,0,0,0.2);
 }


h1 {

	font-weight: 700;
	font-size: 5em;

}

html {
	height: 100%;
}
